.heading {
    text-align: center;
}

.day-grid {
    border: 1px solid black;
    margin: 1px;
    width: 200px;
}

.today-date {
    color: red;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time {
    padding: 10px;
}

.time-part {
    margin-top: 60px;
}

.line {
    height: 1px;
    width: 100%;
    color: black;
}
